@model Bangazon.Models.ProductType

@{
    ViewData["Title"] = "Details";
}

    <h1>@Html.DisplayFor(model => model.Label)</h1>

<div>

    <hr />
    <dl class="row">
        

            <dd class="col-sm-10">
                <table class="table">
                    <tr>
                        <th>Product</th>
                        <th>Description</th>
                        <th>Price</th>
                    </tr>
                    @foreach (var item in Model.Products)
                    {
                <tr>
                    <td>
                    <a href="../../Products/Details/@item.ProductId">
                       
                            @Html.DisplayFor(modelItem => item.Title)                        
                    </a>
                        </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                </tr>
                    }
                </table>
            </dd>
        </div>
    </dl>
<div class="centered">
    <a asp-action="Edit" asp-route-id="@Model.ProductTypeId">Edit</a> |
    <a href="../../ProductTypes/Index">All Departments</a>
</div>
</div>

